@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(10,25,47);
  min-height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-center-x {
  justify-content: center;
}

.flex-center-y {
  align-items: center;
}

#navbar {
  width: 100vw;
  height: 80px;
  border-bottom: 2px solid rgb(200,35,55);
  background-color: rgb(47,76,121);
  justify-content: space-between;
  padding: 0px 40px;
  /* position: fixed; */
}

#nav-logo {
  font-size: 60px;
  font-family: 'Stick No Bills', sans-serif;
  position: relative;
  color: rgb(200,35,55);
}

#nav-logo2 {
  position: absolute;
  font-size: 60px;
  font-family: 'Stick No Bills', sans-serif;
  color: white;
  left: 4px;
  transition: ease-out 500ms;
}

#nav-logo2:hover {
  left: 15px;
}

#nav-list {
  color: white;
  list-style-type: none;
  width: 400px;
  height: 100%;
  min-width: 200px;
  /* border: 1px solid green; */
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.list-item {
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
}

/* .list-item::before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: red;
  bottom: 0;
} */

/* .list-item::after {
  content: '';
  width: 5px;
  height: 5px;
  background-color: red;
  display: block;
  bottom: 0;
} */

.list-item a {
  /* border: 1px solid red; */
  color: white;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease 250ms;
}

.list-item a:hover {
  color: rgb(170, 225, 255);
}

.contact-links {
  /* border: 1px solid white; */
  position: fixed;
  left: 0;
  top: 40%;
}

.link-item {
  height: 40px;
  width: 200px;
  padding: 0 10px;
  justify-content: space-between;
  font-weight: 600;
  text-decoration: none;
  color: white;
  /* border: 1px solid green; */
  position: relative;
  left: -150px;
  transition: all 400ms ease;
}

.link-item:hover {
  left: 0;
}

.link-item:nth-child(1) {
  background-color: rgb(47,76,121);
}

.link-item:nth-child(2) {
  background-color: rgb(215,171,97);
}

.link-item:nth-child(3) {
  background-color: rgb(224,98,54);
}

.link-item:nth-child(4) {
  background-color: rgb(200,35,55);
}